.contact-form {
    width: 100%;
    border-left: 1px solid lightgrey;
    font-size: 24px;
    padding: 0px 40px;
    box-sizing: border-box;
}

.contact-form label{
    font-weight: 600;
    display: block;
}

.contact-form input[type="text"]{
    padding: 5px 10px;
    font-size: 20px;
    margin: 10px 0 40px;
    width: 90%;
}
.contact-form .buttons{
    height: 50px;
}
.contact-form .buttons button{
    font-size: 20px;
    padding: 5px;
    background-color: #fff;
    border-color: lightgray;
}